* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    background: rgb(255,236,39);
    background: linear-gradient(45deg, rgba(255,236,39,1) 0%, rgba(236,65,0,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin-top: 25px;
    min-width: 320px;
    min-height: calc(100vh - 25px);
}

.container {
    margin: 25px;
}

h1 {
    display: flex;
    align-items: center;
    place-content: center;
    gap: 10px;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 600;
}

h1 .main-icon {
    font-size: 4rem;
}

h2 {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}

.card--container {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 20px;
    padding: 50px 10px;
}

.card {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: rgb(255, 255, 255, 0.5);
    filter: blur(20);
    box-shadow: 0px 4px 15px rgb(0, 0, 0, 0.1);
}

.rules {
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.result {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.result p {
    font-size: 1.5rem;
}

#status {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    color: dodgerblue;
}

h3 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

    font-size: 2rem;
    font-weight: bolder;
    color: dodgerblue;
}

label {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
    margin: 10px 0;
}

input {
    width: 100%;
    color: #FFFFFF;
    background: none;
    border: none;
    border-bottom: 1.5px solid #FFFFFF;
    outline: none;
    padding: 5px;
    font-size: 1.4rem;
}

input::-webkit-inner-spin-button, ::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input::placeholder {
    color: #FFFFFF;
}

button {
    margin-top: 25px;
    padding: 8px;
    color: #FFFFFF;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 15px;
    font-size: 1.4rem;
}